*{
  color: #ffffff;
  background-color: #000000;
}


h1{
  text-align: center;
  text-transform: capitalize;
}
button{
  height: 5rem;
  width: 11rem;
}

button p{
  font-size: 2rem;
  margin: 0rem;
  text-transform: capitalize;
}