*{
  color: #ffffff;
  background-color: #000000;
  text-transform: lowercase;
}

h1{
  text-align: center;
  text-transform: capitalize;
}
button{
  height: 5rem;
  width: 11rem;
}

button p{
  font-size: 2rem;
  margin: 0rem;
  text-transform: capitalize;
}

ul{
  background-color: #ff0000;
}


li p{
  background-color: #ff0000;
  text-transform: capitalize;
}

div{
  background-color: #888888;
}